@import '~antd/es/style/themes/default.less';

.card-word-wrapper{
  text-align: center;
}

.card-list-wrapper{
  margin-top: 10px;
  .card-list-queryInput{
    width: 150px;
  }
  .card-list-button-wrapper{
    display: flex;
  }
}

